html, body{
    height:100%;
}
.content{
    display: flex;
    height:100%;
}
.content .logo{
    height:4.5vw;
    background: url("../images/logobg.png");
}
.content .logo img{
    margin-top: 1vw;
    margin-left: 2vw;
    float: left;
}
.content .logo .logo-text{
    float: left;
    margin-top: 0.7vw;
    margin-left: 0.7vw;
    color: #eec603;
    font-weight: bold;

}
.logo .logo-tex .Customs{
    margin-top: -0.2vw;
}
.menu_list ul>li{
    font-size: 12px;
    color: #ddd;
    line-height:3.3vw;
    text-align: left;
}
.menu_list ul>li a{
    color: #ddd;
    margin-left: 2vw;
}
.menu_list ul>li:hover{
    background-color: #0b1828;
}
/* .menu_list ul>li a:before{
    content: '';
    display: inline-block;
    color: #eec603;
    width: 2px;
    height: 14px;
    margin-right: 6px;
    margin-bottom: -2px;
    background: #eec603;
} */
.menu_active{
    background: #0b1828;
}
.menu_active a:before{
    content: '';
    display: inline-block;
    color: #eec603;
    width: 2px;
    height: 14px;
    margin-right: 6px;
    margin-bottom: -2px;
    margin-left: -8px;
    background: #eec603;
}
.lf-menu{
    background-color: #16212d;
    float: left;
    width:15.6%;
}
.big-page .lf-menu{
    /* width:0; */
    margin-left: -15.6%;
    /* display: none; */
}
.rt-content-top{
    width: 100%;
}
.rt-Content{
    float: right;
    width: 100%;
    height: 100%;
    margin-left: -0.2vw;
    background: url("../images/xhdpi/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
}
.content-detail{
    /* position: absolute; */
    width:359px;
    height:167.4px;
    /* left:50%;
    top:50%;
    margin-left:-179.5px;
    margin-top:-83.7px; */
    margin: 17vw auto;
}
.img-font1{
    margin-left: 88px;
}


.dislpayArrow a {
    background: url(../images/icon_arrow.png) no-repeat 0 0;
}

.lf-menu, .dislpayArrow {
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.dislpayArrow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 184px;
    width: 0px;
    height: 100%;
    z-index: 10;
}
.dislpayArrow a {
    position: absolute;
    display: block;
    width: 17px;
    height: 61px;
    top: 50%;
    margin-top: -30px;
    outline: none;
}
.big-page .dislpayArrow{
    left: 0;
}