@charset "UTF-8";
/**
 * 
 * @authors Leeyg (you@example.org)
 * @date    2016-01-14 16:30:43
 * @version $Id$
 */
html, body, div, dt, dd, dl, form, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, h1, h2, h3, h4, h5, h6{
    display: block;
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
    font: 62.5%/1.8 Helvetica,Arial,NexusSerif,Georgia,"Helvetica Neue",NexusSans,sans-serif;
    font-size: 63%\9;
    color: #505050;
    min-width: 1003px;
    max-width: 1366px;
    margin:0 auto;
    word-break: break-word;
    background: #fff;
}
*, :before, :after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
*, :after, :before {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.clear {
    clear: both;
}
a:visited {
    color: #840084;
}
a, a:link {
    color: #316c9d;
    text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/**header css**/
#header {
    font-size: .8em;
    position: relative;
    z-index: 3;
}
#header.pgBorder, #sdHeader.pgBorder {
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}
#header .headerBlk {
    background-color: #6c9d31;
    border-bottom: 1px solid #639655;
    color: white;
    position: relative;
    height: 41px;
}
#header .headerBlk .headerInner {
    padding: 5px 12px;
}
#header .headerBlk a {
    color: white;
}
#header .headerBlk .home {
    display: inline-block;
    zoom: 1;
    font-size: 0;
    padding-top: 6px;
}
#header .headerBlk .home a {
    color: transparent;
    display: inline-block;
    zoom: 1;
    font-weight: 900;
    width: 178px;
}
#header .headerBlk .home a {
    color: #fff;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    line-height: .45;
    text-decoration: none;
    padding-bottom: 2px;
    white-space: nowrap;
}
.logoScienceDirectImg {
    display: inline-block;
    zoom: 1;
    background: url(../common/images/svg/write-jdsim.svg) no-repeat,none;
    width: 202px;
    height: 26px;
    vertical-align: top;
}
#header .headerBlk .publication {
    display: inline-block;
    zoom: 1;
    margin: 0;
    padding: 15px 0 5px 44px;
    vertical-align: bottom;
    line-height: 15px;
}
#header .headerBlk li {
    display: inline-block;
    zoom: 1;
}
#header .headerBlk .publication li {
    padding: 0 8px;
    vertical-align: top;
}
#header .headerBlk .publication li.sep {
    padding-left: 10px;
}
#login {
    position: absolute;
    bottom: 0;
    right: 3px;
    z-index: 5;
}
#login ul {
    margin: 0;
    padding: 0 0 0 10px;
}
#login ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    color: #fff;
    height: 20px;
}
#header .headerBlk li {
    display: inline-block;
    zoom: 1;
}
#login ul li#loginPlus {
    position: relative;
}
#login ul li>a {
    margin: 0;
    white-space: nowrap;
}
#login ul.userlinks>li>a {
    padding: 0 13px;
}
#login ul li.last {
    border-right: 0;
}
#header #bannerTop {
	z-index: 2;
    border: 1px solid #c9c9c9;
    height: 60px;
    padding: 0;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 234px;
    text-align: center;
    overflow: hidden;
    background-color: white;
}
#bannerTop p{
	font-size: 1.5em;
	color: #000;
	padding-top: 8px;
}
#header .quicksearch {
    background-color: #f1f1f1;
    border-bottom: 1px solid #e0e0e0;
    padding: 7px 12px;
}
#header .quicksearch form {
    margin: 0;
    padding: 0;
    display: inline;
}
#header .quicksearch input {
    border: 1px solid #6c9d31;
    padding: 3px 0 3px 2px;
    margin: 0;
    vertical-align: middle;
    color: #000;
    font-size: .9em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#header .quicksearch input.all {
    width: 264px;
}
#header .quicksearch input.author {
    width: 138px;
}
#header .quicksearch input.srctitle {
    width: 138px;
}
#header .quicksearch input.volumelist {
    width: 49px;
}
#header .quicksearch input.issuelist {
    width: 36px;
}
#header .quicksearch input.pages {
    width: 36px;
}
#header .quicksearch input[type="submit"] {
    color: transparent;
    width: 27px;
    height: 24px;
    border: 0;
    padding: 0;
    cursor: pointer;
}
#header .quicksearch input[type="submit"] {
    background-image: url('../common/images/commonSpriteVert_1601R1.png');
    background-position: left -20px;
    border: 0;
}
#header .quicksearch .advanced {
    margin-left: 3px;
    font-size: 11px;
    vertical-align: bottom;
}
/**页面主体部分**/
.pubPg #sdHeader, #mainPg #sdHeader {
    padding: 20px 0 0 0;
}
.favIcon_sci_dir, .favIcon_blue, .favIcon_green, .favIcon_grey, .favIcon_orange, .favIcon_red, .favIcon_sci_dir:hover, .favIcon_blue:hover, .favIcon_green:hover, .favIcon_grey:hover, .favIcon_orange:hover, .favIcon_red:hover {
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 16px;
    cursor: pointer;
    line-height: 18px;
    display: inline-block;
    text-decoration: none;
}
.pubFontBox {
    font-size: 1.0em;
}
.publication_head, .cbodyAllResults, .resHeaderBlk, .pubZone {
    padding: 0 12px;
}
div.publication {
    border-bottom: 1px solid #c9c9c9;
    overflow: hidden;
    position: relative;
}
#volumeIssueData .navigation li+li, .publication_head .navigation li+li, .volumePage.navigation li+li {
    border-left: 1px solid #d7d7d7;
    margin-left: 10px;
    padding-left: 10px;
}
div.publication img.cover {
    border: 1px solid #000;
    float: left;
    margin-bottom: 10.536px;
    min-width: 112px;
    max-width: 150px;
}
.coverImageDiv {
    width: 130px;
    float: left;
}
div.publication.serialPublication img.cover {
    width: 100%;
    border: 1px solid #000;
    float: left;
    margin-bottom: 10.536px;
}
div.publication.serialPublication .info {
    vertical-align: top;
    padding-bottom: 20px;
    margin: 0;
    margin-left: 140px;
    margin-right: 20px;
    float: none;
    width: auto;
}
.pubTitle {
    font-weight: bold;
    display: inline-block;
    line-height: 1.2;
}
.pubTitle h1 {
    font-weight: normal;
    font-size: 1.8em;
    margin: 0;
    display: inline;
}
div.publication ul.about {
    margin-bottom: 17.712px;
}
div.info ul li {
    display: inline-block;
    zoom: 1;
}
div.publication ul.about li {
    display: inline;
}
div.publication ul.feeds li {
    display: block;
    margin: 4px 0;
}
#newFeedPub a:visited {
    color: #316c9d;
}
div.publication p {
    margin: 3px 0;
}
div.publication .copyright {
    color: #5c5c5c;
    font-size: 11px;
    margin-top: 10.536px;
    position: absolute;
    bottom: 5px;
}
.rssCiteIcon, .rssCiteIconPubHome {
    background-image: url('../common/images/resultsPageSpriteVert_1601R1.png');
    background-position: left -0px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 16px;
    padding: 0px 0px 2px 20px !important;
    line-height: 18px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}
.rssCiteIconPubHome {
    margin-top: 4px;
}
.favIcon_sci_dir, .favIcon_sci_dir:hover {
    padding: 0px 7px 0px 20px !important;
}
.favIcon_sci_dir {
    background-image: url('../common/images/resultsPageSpriteVert_1601R1.png');
    background-position: left -737px;
}
.favIcon_sci_dir, .favIcon_sci_dir:hover {
    padding: 0px 7px 0px 20px !important;
}
.favIcon_sci_dir:hover {
    background-image: url('../common/images/resultsPageSpriteVert_1601R1.png');
    background-position: left -758px;
}
.favText {
    position: relative;
}
.favText:hover{
	text-decoration: underline;
    cursor: pointer;
}
.citeAlertIconPubHome_sci_dir, .citeAlertIconPubHome_blue, .citeAlertIconPubHome_green, .citeAlertIconPubHome_grey, .citeAlertIconPubHome_orange, .citeAlertIconPubHome_red, .citeAlertIconPubHome_sci_dir:hover, .citeAlertIconPubHome_blue:hover, .citeAlertIconPubHome_green:hover, .citeAlertIconPubHome_grey:hover, .citeAlertIconPubHome_orange:hover, .citeAlertIconPubHome_red:hover {
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 16px;
    cursor: pointer;
    text-decoration: none;
    line-height: 18px;
    display: inline-block;
}
.citeAlertIconPubHome_sci_dir, .citeAlertIconPubHome_sci_dir:hover {
    padding: 0px 7px 4px 20px !important;
}
.citeAlertIcon_sci_dir, .citeAlertIconPubHome_sci_dir {
    background-image: url('../common/images/resultsPageSpriteVert_1601R1.png');
    background-position: left -131px;
}
.citeAlertIconPubHome_sci_dir, .citeAlertIconPubHome_sci_dir:hover {
    padding: 0px 7px 4px 20px !important;
}
.citeAlertIcon_sci_dir:hover, .citeAlertIconPubHome_sci_dir:hover {
    background-image: url('../common/images/resultsPageSpriteVert_1601R1.png');
    background-position: left -152px;
}
.citeAlertTextPubHome {
    position: relative;
    top: 2px;
}
a.citeAlertIconPubHome_sci_dir:hover > .citeAlertTextPubHome {
    text-decoration: underline;
    cursor: pointer;
}
/**主体部分的左侧树结构和列表**/
.cbodyAllResults {
    color: #5c5c5c;
}
.cbodyAllResults, #mainPg .sdContent {
    background: #f4f4f4;
    background: -moz-linear-gradient(top,#fff 0,#f5f5f5 200px,#efefef 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(200px,#f5f5f5),color-stop(100%,#efefef));
    background: -webkit-linear-gradient(top,#fff 0,#f5f5f5 200px,#efefef 100%);
    background: -o-linear-gradient(top,#fff 0,#f5f5f5 200px,#efefef 100%);
    background: -ms-linear-gradient(top,#fff 0,#f5f5f5 200px,#efefef 100%);
    background: linear-gradient(to bottom,#fff 0,#f5f5f5 200px,#efefef 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#efefef')";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#efefef',GradientType=0);
}
#issueDisplayData {
    width: 100%;
    position: relative;
    padding: 20px 0 10px 0;
}
.mainResults, .eBookContents, .bookSrchRslts {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-bottom: 20px;
}
.mainResults.journal {
    overflow: visible;
}
#bodyAllResults .volumeHeader {
    margin-left: 260px;
    margin-bottom: 10px;
    margin-right: 275px;
}
#bodyAllResults .volumeHeader h2 {
    font-weight: normal;
    font-size: .75em;
    margin: 0;
    display: inline;
}
#volumeIssueData {
    float: left;
    width: 235px;
    padding-bottom: 40px;
}
#volumeIssueData ul.navigation {
    margin-top: -25px;
    margin-bottom: 20px;
}
#volumeIssueData ul li {
    padding: 0;
    margin-bottom: 5px;
}
#volumeIssueData .navigation li, .volumePage.navigation li {
    display: inline;
}
#volumeIssueData ol, #volumeIssueData ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
}
#volumeIssueData ol li {
    padding: 4px 2px;
}
#volumeIssueData>ol>li {
    margin-top: 7px;
}
.txtBold {
    font-size: 1em;
    font-family: arial,verdana,helvetica,sans-serif;
    font-weight: bold;
}
/**左侧导航**/


/**end**/
/**主体列表**/
#issueList .skyScraper, .skyScraper {
    margin-right: 180px;
}
#issueList {
    margin-left: 240px;
    vertical-align: top;
    zoom: 1;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    position: relative;
}
#issueListHeader {
    vertical-align: bottom;
    padding: 10px 19px 7px 19px;
    line-height: 16px;
}
.arrowBlock {
    float: left;
    margin-top: 3px;
}
.arrowIcon {
    background-image: url('../common/images/resultsPageSpriteVert_1601R1.png');
    background-position: left -19px;
    background-repeat: no-repeat;
    padding: 0px 0px 6px 16px;
    width: 16px;
    height: 18px;
}
#issueListHeader .arrowIcon {
    vertical-align: top;
    margin-top: 3px;
}
.offscreen {
    position: absolute;
    left: -9999em;
}
#issueListHeader>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 19px;
    width: 60%;
}
#issueListHeader>ul>li {
    display: inline;
}
#issueListHeader>ul>li+li {
    border-left: 1px solid #d7d7d7;
    margin-left: 10px;
    padding-left: 10px;
}
input.listAction, input.listAction:hover {
    color: #316c9d;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    background-color: transparent;
    border: 0;
    width: auto;
    overflow: visible;
}
#pdfIcon, #purchaseBtnSprite, .pdfIconSmall, .pdfIcon {
    background-image: url('../common/images/resultsPageSpriteVert_1601R1.png');
    background-position: left -40px;
    background-repeat: no-repeat;
    margin-right: -4px;
    display: inline-block;
    line-height: 18px;
    cursor: pointer;
}
#pdfIcon, #purchaseBtnSprite {
    height: 19px;
    padding: 0px 0px 0px 20px !important;
    vertical-align: top;
}
.sortFilterContainer {
    position: absolute;
    top: 10px;
    right: 19px;
    width: 35%;
    text-align: right;
}
.pulldown {
    display: inline-block;
    zoom: 1;
    padding: 0;
    position: relative;
    background-color: transparent;
    vertical-align: top;
    height: 20px;
}
.pulldown>.button, .loadAllTitles a {
    border-radius: 2.532px;
    border-color: #d7d7d7 #7e8992 #7e8992 #d7d7d7;
    border-style: solid;
    border-width: 1px;
    display: block;
    padding: 2px;
    white-space: nowrap;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
}
.icon {
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    display: inline-block;
    zoom: 1;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    margin-top: -2px;
}
.icon.filter_a {
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 16px;
    width: 16px;
    display: inline-block;
    zoom: 1;
    background-image: url('../common/images/commonSpriteVert_1601R1.png');
    background-position: left -417px;
}
.icon.arrow-down {
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 6px;
    width: 15px;
    display: inline-block;
    zoom: 1;
    background-image: url('../common/images/commonSpriteVert_1601R1.png');
    background-position: left -455px;
}
ol.articleList {
    list-style: none;
    margin: 26px 18px 20px 16px;
    padding: 0;
}
#bodyMainResults ol.articleList:first-child {
    margin-top: 10px;
}
ol.articleList li.detail {
    margin: 0 0 20px;
    min-height: 32px;
    position: relative;
}
ol.results li.detail {
    margin: 20px 0 0;
    min-height: 22px;
    zoom: 1;
}
ol.results li.detail:first-child {
    margin-top: 0;
}
ol.articleList li.detail ul.article {
    line-height: 1.4;
    padding-left: 23px;
    list-style: none;
    margin: 0;
}
ol.articleList li.detail ul.article>li {
    margin-right: 36px;
}
ol.articleList li.detail ul.article li.selection {
    left: 0;
    position: absolute;
    margin-right: 0;
}
input[type="checkbox"], input[type="button"], input[type="submit"], input[type="radio"], select {
    cursor: pointer;
}
.bookResultsExp input.checkBox {
    float: left;
    margin: 3 px 6px;
}
ol.articleList li.detail ul.article li.selection input {
    padding-top: 0;
    margin-top: 1px;
}
ol.articleList li.detail ul.article>li {
    margin-right: 36px;
}
ol.articleList li.detail ul.article>li.title h4 {
    display: inline;
}
ol.articleList li.detail li.title a {
    font-size: 1.2em;
    color: #316c9d;
    font-weight: normal;
}
.articleTypeLabel {
    font-size: .92em;
    color: #5c5c5c;
    margin-left: 3px;
}
ol.articleList li.detail li.source {
    color: #5c5c5c;
    font-style: italic;
}
.txt {
    font-size: 1em;
    font-family: arial,verdana,helvetica,sans-serif;
    font-weight: normal;
}
ul.extLinkBlock {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
ul.extLinkBlock li {
    display: inline;
    margin: 0;
    line-height: 21px;
}
ul.extLinkBlock li+li {
    border-left: 1px solid #d7d7d7;
    margin-left: 10px;
    padding-left: 10px;
}
.arrowDown, .arrowSide {
    background-repeat: no-repeat;
    display: inline-block;
    zoom: 1;
    width: 7px;
    height: 7px;
    vertical-align: top;
    cursor: pointer;
}
.arrowSide {
    background-image: url('../common/images/resultsPageSpriteVert_1601R1.png');
    background-position: left -1458px;
}
.absLink .arrowSide {
    margin: 7px 5px 0 0;
}
#pdfIcon, #purchaseBtnSprite, .pdfIconSmall, .pdfIcon {
    background-image: url('../common/images/resultsPageSpriteVert_1601R1.png');
    background-position: left -40px;
    background-repeat: no-repeat;
    margin-right: -4px;
    display: inline-block;
    line-height: 18px;
    cursor: pointer;
}
.pdfIconSmall {
    height: 18px;
    padding: 0px 7px 0px 20px !important;
    vertical-align: top;
}
ol.articleList li.detail ul.article li.accessBlock {
    position: absolute;
    right: 0;
    margin-right: 0;
    top: 3px;
}
.dsub_article_sci_dir, .dunsub_article_sci_dir, .dsprite_oaIcon, .dsprite_archive, .dno_access, .dsub_openaccess_sci_dir, .dunsub_openaccess_sci_dir {
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 16px;
    width: 16px;
    display: inline-block;
    zoom: 1;
}
.dunsub_article_sci_dir {
    background-image: url('../common/images/resultsPageSpriteVert_1601R1.png');
    background-position: left -1789px;
}
.offscreen {
    position: absolute;
    left: -9999em;
}
.iconPosition {
    padding-left: 60px;
    white-space: nowrap;
    width: auto;
}
.dsprite_oaIcon, .dsprite_archive {
    background-image: url('../common/images/resultsPageSpriteVert_1601R1.png');
    background-position: left -1747px;
}
#issueList .navigation {
    overflow: hidden;
    margin-bottom: 10px;
}
#issueList div.navigation.top {
    position: absolute;
    top: -27px;
    right: 0;
}
.paginationBar {
    float: right;
    line-height: 22px;
    font-size: .9em;
    overflow: hidden;
}
#issueList .paginationBar {
    font-size: 1em;
    padding-right: 20px;
}
#issueList .navigation {
    overflow: hidden;
    margin-bottom: 10px;
}
.mainResults .volumePage {
    position: absolute;
    bottom: 20px;
    left: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: left;
    font-size: 12px;
    min-height: 0;
}
#volumeIssueData .navigation li, .volumePage.navigation li {
    display: inline;
}
/**footer css**/
.pubFontBox #footer, .cbodyAllResults #footer {
    font-size: 1.15em;
}
#footer .padding {
    font-size: .95em;
}
#linkArea {
    font-size: .92em;
    border: 1px solid #d9d9d9;
    background: #f1f1f1;
    margin: 0 0 1px 0;
    color: #707070;
    white-space: nowrap;
}
#linkArea .padding {
    padding: 9px 16px 8px 16px;
}
#banner-bottom {
    float: right;
    margin-top: 5px;
}
.S_C_aboutdsim {
    background-image: url('../common/images/svg/yellow-jdsim.svg');
    background-repeat: no-repeat;
    display: inline-block;
    height: 26px;
    width: 116px;
    vertical-align: top;
}
#linkArea ul {
    width: 157px;
    margin: 0 63px 0 0;
    padding: 0;
    float: left;
}
#linkArea .col5 {
    margin: 0;
    padding: 0 44px 0 0;
    width: auto;
}
#linkArea .col5 li a:hover, #goToggleSite a:hover{
	text-decoration: underline;
}
#linkArea ul li {
    list-style-type: none;
    margin: 0;
    list-style-position: outside;
}
#linkArea .padding {
    padding: 9px 16px 8px 16px;
}
#linkArea a, #copyrightArea a {
    color: #316c9d;
    text-decoration: none;
}

